@tailwind base;
@tailwind components;
@tailwind utilities;

/* body{
    background-color: #F1EFE3;
} */

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #6D5DD7;
    border: 3px solid white;
    border-radius: 5rem;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }